
<!DOCTYPE html>
<html>
<head>
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" type="styles/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Pomodoro Timer</h1>
    <div id="quote-container"></div>

    <script>
    function fetchQuote() {
        $.ajax({
            url: "/quotes?timestamp=" + new Date().getTime(),
            method: "GET",
            success: function(data) {
                $("#quote-container").text(data.quote);
            }
        });
    }


   // fetchQuote();

    setInterval(fetchQuote, 10000);
    </script>
</body>
</html>
